body {
  background-color: #eee;
  font-size: 18px;
}

#app3 .last {
  background-color: DodgerBlue ;
}
#app3 .most {
  color: red;
}
#app3 input {
  text-align: center;
}
#app3 button {
  cursor: pointer;
  margin-bottom: 5px;
}
input, button {
  font-size: 14px;
}
select {
  font-size: 18px;
}
