
html, body {
	height: 100%; }

body {
	margin: 0;
  display: flex;
  justify-content: center; }

main {
  width: 300px;
  margin-top: 20px;
  padding: 30px; }

main > div {
  flex: 1 1 auto; }

button.mdc-button--primary {
  margin-left: 45px; }

li {
  cursor: pointer; }

  li a {
    text-decoration: none;
    font-style: normal; }

    li i.material-icons {
      display: none; }

      li:hover i.material-icons {
        display: inline;
        color: #aaa; }


button.mdc-button--accent + span {
  margin-left: 5px;
  line-height: 1.7em; }

main > h1 {
  margin-bottom: 5px; }

main > span {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.25rem; }
